# ----------------------------------------------------------------------------------------------------------------------
[global]
    seed = {seed}                                                   # seed value to yield reproducable results
    date_format = "%Y-%m-%d"                                        # date format used globally
    num_age_groups_pop = 4                                          # number of population age groups
    num_age_groups_hh = 4                                           # number of household age groups

# ----------------------------------------------------------------------------------------------------------------------
[simulation]
start_date = "2011-1-1"                                             # start date simulation
end_date = "2011-06-30"                                             # end date simulation

initial_influx = 1                                                 # initial influx
influx_period_in_days = 2                                           # influx every x days
num_influx_per_period = 0                                           # daily influx

terminate_on_zero_infected = true                                   # terminate if num. infected reaches zero

    # ------------------------------------------------------------------------------------------------------------------
    [simulation.reporter]
    enabled = true                                                  # whether to report while running
    report_period_in_days = 2                                       # report every x days
    line_length = 100                                               # line length for formatting

    sink = "console"                                                # sink for writing reporter data
    log_level = ["error", "info"]                                   # types of logs to show, i.e., debug, info, error

        [simulation.reporter.sinks]                                 # sink specific settigs

            # File sink
            [simulation.reporter.sinks.file]                        # file sink specific settings
            output_file_name = "./output_{exp_name}/reporter_output_{id:04d}.txt"       # name of the output file in-case file sink is used
    # ------------------------------------------------------------------------------------------------------------------
    [simulation.disease]

        [simulation.disease.logger]
            enabled = true                                          # enable log creation of infection
            tans_log_file_name = "./output_{exp_name}/transmission_log_{id:04d}.csv"    # file to write transmission log to
            sim_log_file_name = "./output_{exp_name}/simulation_log_{id:04d}.csv"       # file to write simulation log to
            disease_log_file_name = "./output_{exp_name}/disease_log_{id:04d}.csv"      # file to write disease log to, i.e., changes in the disease state

        [simulation.disease.transmission]
        pop_matrix = "./input/pop_contact.csv"                      # location population contact matrix
        hh_matrix = "./input/hh_contact_no_children.csv"            # location household contact matrix
        hh_matrix_children = "./input/hh_contact_children.csv"      # location household with children contact matrix
        pop_state_infected = {pop_state_infected}
        pop_state_symptomatic =  {pop_state_symptomatic}
        pop_state_asymptomatic = {pop_state_asymptomatic}
        household_state_infected  = {household_state_infected}
        household_state_symptomatic = {household_state_symptomatic}
        household_state_asymptomatic = {household_state_asymptomatic}

    # ------------------------------------------------------------------------------------------------------------------
    [simulation.population]
        age_child_limit = 13                                        # maximum age till individual is considered to be a child (exclusive!)

    # ------------------------------------------------------------------------------------------------------------------
    [simulation.log_player]
    base_population = [1602267, 768437, 6157204, 2410827]                   # Base population is used to compute base age distribution (used to compute adjustment in disease model)
    initial_population = "./input/pop_large_sample_10032020.csv"                # location initial population csv
    event_log = "./input/event_log_large_sample_10032020.csv"                   # location demographic events log
# ----------------------------------------------------------------------------------------------------------------------
